body {
  background-color:#ac98e3 /* Chose this color randomly to see if it would work... probably should change */
}

/* All the className css is organized alphabetically
    I tried doing it similar to how it appears in the jsx, but that didn't really work */

.add-new-task {
  display: inline-flex; /* sets the size equal to the image */
}

.add-new-task img {
  display: block;
  width: 20px;
  height: auto;
  background-color: solid #f7f5f5
}

.del-button {
  cursor: pointer;
  height: 20px;
  background-color:#611b1b;
  border-color:#611b1b;
  color:#ae3030;
}

.hw-heading { /* leaving this in css to make it easier to add more to the heading if I need to */
  color:#170e30
}

.input-dimen {
  width: 110px;
  padding: 5px;
}

.input-div {
  /* align-items: center; */
  display: flex;
  gap: 8px;
  margin: 8px auto;
  justify-content: center;
}

.overall-page { /* takes up entire page and forces footer to the bottom */
  display: flex;
  flex-direction: column;
  min-height: 100vh 
}

.utility-button {
  cursor: pointer;
  width: 20px;
  height: 20px
}

.vertical-lines {
  border-collapse: collapse; /* stops overlapping lines */
  /* background-color: #60a4b2; temporary so I can see where the table is */
  margin: 0 auto; /* centers overall table on screen */
  align-items: center /* centers each item within its space */
}
.vertical-lines td {
  border-right: 2px solid #060606;
  padding: 8px 12px;
  border-top: none;
  border-bottom: none;
}

.vertical-lines td:last-child { /* removes the line on the last item so there is no table border */
  border-right: none
}